/* Default */
*{
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  z-index: -1;
}
*:after, *:before{
  z-index: -1;
  box-sizing: border-box;
}
:root {
  --width: 150px;
  --height: 40px;
  --red: red;
  --white: #ffffff;
  --black: #000000;
  --green: green;
}

body{
  background-color: #dedede;
}

.buttons{
  padding: 15px;
}

a{
  line-height: var(--height);
  text-decoration: none;
}

.btn,
.btn2{
  width: var(--width);
  height: var(--height);
  font-size: 12px;
  border: 1px solid transparent;
  text-transform: uppercase;
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
  color: var(--black);
  z-index: 1;
  margin: 15px 0;
}
/* End Default */

/* Button 1 */
.btn:after,
.btn:before{
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: var(--red);
  left: -2rem;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover{
  color: var(--white);
  transition: color .1s;
  transition-delay: .4s;
}

.btn:hover:after{
  animation: fromLeft .8s both;
}

@keyframes fromLeft {
  50% {
    left: 50%;
    width: 2rem;
    height: 2rem;
  }
  100% {
    left: 50%;
    width: 37rem;
    height: 37rem;
  }
}
/* End Button 1 */

/* Button 2 */
.btn2{
  background-color: var(--green);
  color: var(--white);
  position: relative;
}
.btn2:after{
  content: "";
  position: absolute;
  background-color: var(--white);
  width: calc(var(--width) * 1.5);
  left: calc(var(--width) + 200px);
  height: var(--height);
  top: 50%;
  transform: translate(-50%, -50%) skewX(45deg);
}

.btn2:hover:after{
  animation: toLeft2 .8s both;
}
.btn2:hover{
  animation: colorGreen .8s both;
}

@keyframes toLeft2 {
  0%{
    left: calc(var(--width) + 200px);
  }
  50%{
    left: 50%;
    width: calc(var(--width) * 2);
  }
  100%{
    left: 50%;
    width: 0;
  }
}

@keyframes colorGreen {
  0%{
    color: var(--white);
  }
  50%{
    color: var(--green);
  }
  100%{
    color: var(--white);
  }
}
/* End Button 2 */
